@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    @page {
        size: A4;
        margin: 0;
    }

    body {
        background: white;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    #cv-to-print {
        width: 210mm !important;
        height: 297mm !important;
        min-height: 297mm !important;
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        position: absolute;
        top: 0;
        left: 0;
    }
}