@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    @page {
        margin: 0;
        size: auto;
    }

    body {
        background: white;
        -webkit-print-color-adjust: exact;
    }
}